body {
    font-family: 'Cuprum', sans-serif;
    margin: 0;    
    padding: 0;
    font-weight: 400;
}

.hide {
    display: none;
}
.hav-top {
    background-color: #f3f7f8;
    padding-bottom: 60px;
}

.hav-top-menu {
    background-color: #293449;
    height: 42px;
    
}

.hav-top-menu-container {
    width: 940px;
    display: flex;
    justify-content: space-between;
    
    margin: 0 auto;
}

.top-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ee3643;
    width: 220px;
    height: 42px;
    margin-top: 0;
    border-bottom: 5px solid #b52933;
}

.hav-top-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-weight: 400;
}

.hav-top-menu-list li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 42px;
}

.nav-link-bookmarks::before {
    content: url(../img/icon-bookmark.svg);
    margin-right: 15px;
    width: 14px;
    height: 16px;

}

.nav-link-basket {
    background-color: #ee3643;
}

.nav-link-basket::before {
    content: url(../img/icon-cart.svg);
    margin-right: 15px;
    width: 15px;
    height: 15px;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
}

.btn-checkout {
    width: 150px;
    background-color: #63a63e;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    color: #ffffff;
}

.top-menu-right {
    display: flex;
}

.hav-top-menu button {
    display: none;
}

.hav-top-menu input {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 35px;
    border: none;
    background:#293449;
    color:#fff;
    font-size: 17px;
    font-weight: 400;
}
.hav-top-menu form {
    display: flex;
}
.hav-top-menu form::before {
    content: url(../img/icon-search.svg);
    margin-right: 15px;
    width: 17px;
    height: 17px;
    padding-top: 6px;
    display: block;
    padding-right: 10px;
}


.hav-top-menu input::placeholder {
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
}

.hav-top-menu input::-webkit-input-placeholder {
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
}

.hav-top-menu input:-moz-placeholder {
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
}

.hav-top-menu input:-ms-input-placeholder {
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
}

.hav-top-center {
    width: 940px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    margin-top: 20px;
}

.hav-top-center > p {
    color: #ee3643;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    padding-left: 50px;
    max-width: 201px; /* но тогда "и" подвесает в воздуже, по моему так не хорошо делать =)) */
}

.hav-top-center-phone {
    padding-top: 28px;
    text-align: center;
}

.hav-top a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
}

.hav-top-center-phone > a {
    border: 3px solid #fff;
    padding: 10px 50px 10px 12px;
    color: #ee3643;
    font-size: 21px;
    font-weight: 400;
}

.hav-top-center-phone a::before {
    display: inline-block;
    content: url(../img/icon-phone.svg);
    margin-right: 40px;
    width: 19px;
    height: 19px;
}

.hav-top-center-phone p {
    color: #32425c;
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
    line-height: 24px;
}

.hav-top-center ul {
    list-style: none;
    display: flex;
}

.button-login{
    width: 121px;
    height: 45px;
    background-color:#fFFFff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button-login::before {
    display: inline-block;
    content: url(../img/icon-login.svg);
    margin-right: 10px;
    width: 19px;
    height: 19px;
}

.button-register {
    margin-left: 10px;
    width: 150px;
    height: 45px;
    background-color:#fFFFff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button-login:hover a {
    color: #ee3643;
}

.button-register:hover a {
    color: #ee3643;
}

.button-login:active a {
    color: #c5c5c5;
}

.button-register:active a {
    color: #c5c5c5;
}

.button-login:hover::before {
    display: inline-block;
    content: url(../img/icon-login-dark.svg);
    margin-right: 10px;
    width: 19px;
    height: 19px;
}
.button-login a,
.button-register a {
    text-decoration: none;
    color: #000000;
    font-size: 21px;
    font-weight: 400;
}

.button-login:active::before {
    display: inline-block;
    content: url(../img/icon-login.svg);
    margin-right: 10px;
    width: 19px;
    height: 19px;
}

.hav-top nav {
    width: 940px;
    display: flex;
    margin: 0 auto;
    height: 55px;
    background-color: #32425c;
    border-bottom: 5px solid #293449;
    margin-top: 20px;
}

.down-nal-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 0;
    margin: 0;
    padding: 0;
}

.company-info {
    background-color: #ffffff;
    position: relative;
    margin-bottom: 85px;
}

.company-info-page {
    width: 940px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.about-company {
    width: 550px;
}

.about-contact {
    width: 300px;
}

.company-info-page h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
}

.company-info-page p {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

.button-red {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    background-color:#ee3643;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

.about-company a {
    background-color:#ee3643;
    width: 220px;
    height: 38px;
    display: flex;
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 30px;
}

.about-contact img {
    margin-top: 20px;
}

.about-contact button {
    background-color:#ee3643;
    width: 100%;
    height: 38px;
    font-weight: 400;
    font-family: 'Cuprum', sans-serif;
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 30px;
    border: none;
}

main {
    width: 100%;
}

.content {
    padding-top: 60px;
    width: 940px;
    margin: 0 auto;
}

.content-footer {
    width: 940px;
    margin: 0 auto;
}

.promo-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
 
}

.promo-1-item {
    width: 300px;
    height: 123px;
    list-style: none;
}

.promo-1-item:nth-child(1) {
    background-color: #ffbf47;
    position: relative;
}

.promo-1-item:nth-child(1)::after {
    content: url("../img/icon-1.svg");
    position: absolute;
    top: 35px;
    left: 200px;
}

.promo-1-item:nth-child(2) {
    background-color: #3bbce3;
    position: relative;
}

.promo-1-item:nth-child(2)::after {
    content: url("../img/icon-2.svg");
    position: absolute;
    top: 35px;
    left: 200px;
}

.promo-1-item:nth-child(3) {
    background-color: #dc91d8;
    position: relative;
}

.promo-1-item:nth-child(3)::after {
    content: url("../img/icon-3.svg");
    position: absolute;
    top: 35px;
    left: 200px;
}

.promo-item h2 {
    font-size: 24px;
    color: #ffffff;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 15px;
}

.promo-item a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.10);
    display: inline-block;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px 20px ;
    border-radius: 3px;
}

.slider-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo-2 {

    margin: 0;
    padding: 0;
 
}
.promo-2-item {
    width: 300px;
    height: 123px;
    list-style: none;
}

.promo-2-item:nth-child(1) {
    background-color: #8ed78f;
    position: relative;
}

.promo-2-item:nth-child(1)::after {
    content: url("../img/icon-4.svg");
    position: absolute;
    top: 35px;
    left: 200px;
}

.promo-2-item:nth-child(2) {
    background-color: #ffc047;
    position: relative;
}

.promo-2-item:nth-child(2)::after {
    content: url("../img/icon-5.svg");
    position: absolute;
    top: 35px;
    left: 200px;
}

.main-slider {
    position: relative;
    margin-top: 20px;
}

.slider-info {
    position: absolute;
}

.slider-button {
    position: absolute;
    bottom: 10px;
}

.slider-info h1 {
    font-weight: 700;
    font-size: 36px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.slider-info p {
    font-size: 18px;
    color: #ffffff;
    margin-top: 5px;
    margin-left: 20px;
}

.slider-button a {
    display: inline-block;
    width: 200px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    border-radius: 3px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.popular-items {
    background-color: #f9f5f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

.popular-items h2 {
    color: #32425c;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.popular-items a {
    font-size: 14px;
    display: inline-block;
    width: 253px;
    height: 28px;
    text-align: center;
    padding-top: 10px;
    border-radius: 3px;
}

.popular-items-products
{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.popular-items-products-item {
    width: 220px;
    list-style: none;
    border: 1px solid #eaeaea;
    
}

.popular-items-image {
    display: block;
}

.popular-items-products-item h3 {
    text-align: center;
    margin: 0;
}
.popular-items-products-item h3 a{
    
    text-decoration: none;
    color: #000000;
    
    font-size: 18px;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
}

.popular-items-products-item p {
    text-align: center;
    min-height: 19px;
}

.old-price {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 17px;
    margin-top: 10px;
    text-decoration: line-through;
    color: #aaaaaa;
}

.new-price {
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 17px;
    background-color: #ee3643;
    position: relative;
    padding-top: 10px;
    margin: 0 auto;
    width: 150px;
    height: 30px;
    margin-bottom: 20px;
}

.manufacturers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:  0;
    padding: 0;
}

.manufacturers li {
    list-style: none;
    height: 143px;
    width: 218px;
    border: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}

.content-mragin {
    margin-top: 85px;
    
}

.servises {
    background-color: #f4f8f9;
}

.servises-content {
    background-image: url("../img/service.png");
    background-repeat: no-repeat;
    background-position: 100% 350px;
    height: 500px;
    
}

.servises-content h2 {
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.servises-content p {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}

.servises-content-items-flex {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.servises-content-items-flex ul {
    width: 240px;
    margin: 0;
    padding: 0;
}

.servises-content-items {
    list-style: none;
    display: flex;
    align-items: center;
    width: 240px;
    height: 60px;
    background-color: #32425c;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;

}

.servises-content-items a {
    color: #ffffff;
    text-decoration: none;
    font-size: 21px;
    font-weight: 700;
    margin-left: 20px;
}

.servises-content-description {
    width: 280px;
    margin-left: 80px;
}

.servises-content-description h3{
    font-size: 36px;
    color: #32425c;
}

.servises-content-description p {
    font-size: 13px;
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    line-height: 24px;
}

.servises-content-items-active {
    list-style: none;
    display: flex;
    align-items: center;
    width: 240px;
    height: 60px;
    background-color: #ffffff;
    color: #32425c;
}

.servises-content-items-active a {
    color: #32425c;
    text-decoration: none;
    font-size: 21px;
    font-weight: 700;
    margin-left: 20px;
}

.footer {
    background-color: #32425c;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-elements-align {
    text-align: right;
}

.footer-elements-items {
    display: inline-block;
    list-style: none;
    margin-left: 50px;
}

.footer-elements {
    margin: 0;
    padding: 0;
    
}
.footer-elements:last-child {
    margin-top: 40px;
}

.footer-elements a {
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    
}

.footer-elements:first-child a{
    color: #ffffff;
}

.footer-elements:last-child a{
    color: #ffd180;
}

.footer-logo {
    height: 63px;
}

.footer-contacts {
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;

}
.footer-contacts a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
}

.footer-down {
    background-color: #293449;
}

.footer-down-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-down-flex li {
    display: inline-block;
    list-style: none;
}

.copyright {
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;

}

.footer-back p{
    display: inline-block;
}

.footer-back p {
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    margin-left: 50px;
}

.footer-back a {
    color: #ffd180;
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    
}

.catalog-page {
    margin-top: 20px;
}

.catalog-content {
    width: 940px;
    margin: 0 auto;
    margin-top: 20px;
}

.bread-crumbs {
    padding: 0;
    margin: 0;
    margin-top: 24px;
}

.bread-crumbs li {
    display: inline-block;
    list-style: none;
}

.bread-crumbs li:first-child a{
    font-size: 0;
}

.bread-crumbs li:first-child::before
{
    content: url("../img/icon-home.svg");
    margin-right: 15px;
    width: 14px;
    height: 12px;
}

.bread-crumbs-items a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-size: 13pxt;
    line-height: 18px;
}

.bread-crumbs-items {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-size: 13pxt;
    line-height: 18px;
    margin-left: 10px;
}

.bread-crumbs-items::before {
    content: url("../img/icon-right-small.svg");
    margin-right: 15px;
    width: 7px;
    height: 12px;   
}

.catalog-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.catalog-list {
    width: 700px;
}

.catalog-list-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.catalog-list-items li {
    margin-top: 20px;
}

.soft-second {
    background-color: #f7f3ec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
}

.soft-second-list {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.soft-second > p {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    margin-left: 20px;
}

.soft-second-list-item {
    display: inline-block;
    list-style: none;
    margin-left: 60px;
}

.catalog-sort-buttons {
    display: inline-block;
}

.soft-second-list-item button {
    background-color: transparent;
    border: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #acaaa5;
    padding: 0;
    text-transform: uppercase;
    border-bottom: 1px dotted #ee3643;
}

.soft-second-list-item-active button{
    color: #ee3643;
    border-bottom: none;
}

.catalog-header {
    background-color: #f2f6f8;
    height: 90px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
}

.pagination {
    margin-left: 200px;
}

.pagination-item {
    list-style: none;
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
    color: #000000;
    font-size: 13px;
    text-transform: uppercase;
}

.pagination-item a {
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    color: #000000;
    font-size: 13px;
    text-transform: uppercase;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding: 10px 15px;
}

.pagination-item-active {
    background-color: #ee3643;
    color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding: 10px 15px;
}

.couple-of-words {
    background-color: #f2f6f8;
    margin-top: 60px;
    padding-bottom: 60px;
}
.couple-of-words h2 {
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    font-weight: 400;
    text-transform: uppercase;
}

.couple-of-words p {
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
}

.filter-header {
    background-color: #f7f3ec;
    border-radius: 3px;
    width: 220px;
    box-sizing: border-box;
    height: 40px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: #000000;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    padding-left: 15px;
    display: flex;
    align-items: center;
}
.filter h2 {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: #000000;
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
}

.filter-range {
    background-color: #f7f3ec;
    width: 220px;
    box-sizing: border-box;
    height: 80px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-range-result {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.filter-range-result input {
    width: 50px;
    border: none;
    background-color: #f7f3ec;
    padding: 10px 15px;
    border-radius: 3px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    color: #000000;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
}

.filter-list {
    margin: 0;
    padding: 0;
}

.filter-list li {
    list-style: none;
}

.filter-list label {
    font-family: 'PT Sans', sans-serif;
    color: #000000;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.filter-button {
    margin-top: 60px;
    width: 140px;
    height: 38px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    color: #000000;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.social-vk {
    font-size: 0;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #212a3a;
    border-radius: 20px;
    background-image: url("../img/icon-vk.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 20px auto;
}

.social-fb {
    font-size: 0;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #212a3a;
    border-radius: 20px;
    background-image: url("../img/icon-fb.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 20px;
}

.social-ins {
    font-size: 0;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #212a3a;
    border-radius: 20px;
    background-image: url("../img/icon-insta.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 18px auto;
}

.social-icons {
    margin: 0;
    padding: 0;
}

.user-info {
    background-color: #ffffff;
    width: 300px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-info a{
    color: #000000;
    font-size: 21px;
    font-weight: 400;
}

.user-info a:first-child {
    margin-left: 20px;
}
.user-info a:first-child::before {
    content: url("../img/icon-user.svg");
    display: inline-block;
    margin-right: 10px;
}

.user-info a:last-child {
    margin-right: 20px;
    font-size: 0;
}
.user-info a:last-child::before {
    content: url("../img/icon-logout.svg");
    display: inline-block;
    
}

.user-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.user-navigation a {
    color: #32425c;
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
}

.user-navigation a:nth-child(2n)::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #32425c;
    margin-right: 20px;
    margin-left: 20px;
}

.down-nal-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
    height: 100%;

}

.down-nal-item:hover {
    background-color: #293449;
}   

.down-nal-item:active {
    background-color: #1d2739;
} 

.down-nal-item:active a{
    color: #8e939c;
} 

.promo-item a:hover {
    background-color: rgba(0, 0, 0, 0.20);
}

.promo-item a:active {
    background-color: rgba(0, 0, 0, 0.30);
}

.button-red-hover:hover {
    background-color: #ca2c37;
}

.button-red-hover:active {
    background-color: #ba2732;
}

.manufacturers li:hover {
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.50);
}

.manufacturers li:active {
    box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.50);
}

.manufacturers li:active img {
    filter: alpha(Opacity=30);
    opacity: 0.30;
}

.servises-content-items:hover {
    background-color: #293449;
}

.index-abaut-company-list {
    margin-top: 20px;
    padding-left: 0;
}

.index-abaut-company-item {
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    list-style: none;
    margin-bottom: 15px;
}

.index-abaut-company-item::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: #ee3643;
    margin-bottom: 4px;
    margin-right: 10px;
}

.popapp-map {
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: calc(50% - 470px);
}


.popapp-map button{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    border: none;
    background-image: url(../img/close-map.svg);
    width: 21px;
    height: 21px;
    background-color: transparent;
}

.popapp-map button::after {
    content: none;
    
    display: block;
    width: 10px;
    height: 10px;

}

.popapp-map img{
    box-shadow: 0 0 16px 0 rgba(41, 52, 73, 0.50);
}